<div class="form">
  <label for="file" class="file">
    <input type="file" name="file" value="" id="file"></br>
    <div class="mdl-button mdl-js-button mdl-button--accent">
      ファイルを選択して決定をクリック
    </div>
  </label>
  <input type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" onClick=loadJson() value=決定>
</div>
